<h1><%= @list.name %></h1> 
<% @list.items.each do |item| %>
  <ul>
    <li><%= item.content %></li>
  </ul>
<%  end %>
<%= button_to "Create Item", new_user_application_list_item_url(list_name_format: @list.name_format), method: :get %>