<div class="application-files-cards-icon">
  <%= image_tag file.icon_source, class: "application-files-cards-icon-devicon" %>
</div>
<div class="application-files-cards-title"><%= file.display_name %></div>