<%  if type == 'code'%>
  <div class="application-files-cards-icon">
    <%= image_tag object.icon_source, class: "application-files-cards-icon-devicon" %>
  </div>
<%  elsif type == 'image'%>
  <div class="application-images-cards-icon" style="background-image: url('<%= object.url %>');">
  </div>
<%  elsif type == 'list'%>
  <div class="application-lists-cards-icon">
    <%= image_tag 'list.png' %>
  </div>
<% end %>
<div class="application-files-cards-title"><%= object.display_name %></div>