<!-- The Modal -->
<div id="myModalImage" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close-image">&times;</span>
    <h3 class="modal-content-title">Upload a file</h3>
    <span>Upload a file from your computer</span>
    <%= simple_form_for image, url: user_application_images_path(user_username: @user.username, application_name: @application.name), method: :post do |f| %>
      <%= f.input :title, label: 'Title' %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, "Upload", class: 'primary-btn-small' %>
    <% end %>
  </div>
</div>