<%= link_to user_application_path(name: application.name), class: "no-decoration" do%>
<div class="app-card">
  <span><%=  application.name %></span>
  <span class="app-card-date">Created 5 years ago</span>
</div>
<% end %>