@import 'components/global-variables';

.application_files_card{
  background-color: $secondary-color;
  border-radius: 8px;
}

.application-files-cards-icon{
  background-image: url('/assets/code.png');
  height: 90px;
  width: 90px;
  margin: 15px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.application-files-cards-title{
  margin-bottom: 10px;
}
