@import 'components/global-variables';

.application_files_card{
  background-color: $secondary-color;
  border-radius: 8px;
  &:hover {
    background-color: #f1eded49;
  }
}

.application-files-cards-icon{
  background-image: url('/assets/code.png');
  height: 90px;
  width: 90px;
  margin: 15px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  position: relative;
}

.application-images-cards-icon{
  background-image: url('/assets/code.png');
  height: 90px;
  width: 90px;
  margin: 15px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  position: relative;
}

.application-lists-cards-icon{
  background-color: $white-color;
  height: 90px;
  width: 90px;
  margin: 15px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  position: relative;
}

.application-files-cards-title{
  margin-bottom: 10px;
}

.application-files-cards-icon-devicon{
  height: 25px;
  width: 25px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.create-file{
  background-color: $secondary-color;
  border-radius: 8px;
  padding: 45px;
  font-size: 40px;
  color: $white-color !important;
  font-weight: bold;
  &:hover {
    background-color: #f1eded49;
  }
}