.route{
  font-size: 14px;
  font-weight: bold;
  color: #C4C4C4;
  font-style: italic;
  display:block;
}

.content-title{
  display: block;
  margin-top: 45px;
  font-size: 35px;
  font-weight: bold;
  padding-right: 40px;
}