/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Variables
@import 'components/global-variables';

// External libraries
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

// Partials
@import "components/navbar";
@import "components/primary-btn";
@import "components/vertical-navbar";


// General style
html {
  height: 100%;
}

body {
  position:absolute; 
  top:0; 
  bottom:0; 
  right:0; 
  left:0;
  width: 100%;
  margin: 0px;
  background-color: $white-color;
  font-family: 'Poppins', sans-serif;
}

//links
.no-decoration {
  text-decoration: none;
  color: $black-color;
}

// Main contaner
.main-container {
  display: flex;
  height: -moz-calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
  height: calc(100% - 100px);
}

.content {
  width: 80%;
}

.content {
  padding: 40px 0px 0px 80px;
}