// Place all the styles related to the codes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.code-content-title-container-icon{
  height: 20px;
  width: 20px;
  margin-right: 18px;
  margin-top: 45px;
}

.code-content-title-container{
  display: flex;
  align-items: center;
}

.code-content-main-container{
  display: flex;
}

.code-data{
  width: 70%;
  overflow: hidden;
}

pre{
  background-color: #eee;
  border: 1px solid #999;
  word-wrap: break-word;
  white-space: pre-wrap;
}

code {
  font-size: 0.75em !important;
}

.code-content-download-instructions{
  width: 30%;
  margin-left: 20px;
}

.code-content-download-instructions-title{
  display: block;
  font-weight: bold; 
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  font-size: 16px;
}

.code-content-download-instructions-desc{
  font-size: 16px;
}