// Place all the styles related to the codes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.code-content-title-container-icon{
  height: 40px;
  width: 40px;
  margin-right: 18px;
}